:root {
	--color-primary: #0969da;
	--color-secondary: #ffffff;
	--color-accent: #f6f8fa;

	--color-text-primary: #1f2328;
	--color-text-secondary: #59636e;

	--color-heatmap-cell--normal: #eff2f5;
	--color-heatmap-green-100: #aceebb;
	--color-heatmap-green-200: #4ac26b;
	--color-heatmap-green-300: #2da44e;
	--color-heatmap-green-400: #116329;

	--color-border: #d1d9e0;

	--border-thin: 0.0625rem;
	--border-thick: 0.125rem;
	--border-thicker: 0.25rem;

	--border-radius-small: 0.1875rem;
	--border-radius-medium: 0.375rem;
	--border-radius-large: 0.75rem;
	--border-radius-full: 9999px;
}

/*@ #CSS-RESETS */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font: inherit;
}

html {
	font-size: 100%;
	font-family: 'Helvetica';
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

p,
li {
	text-wrap: pretty;
	max-width: 65ch;
}

ol,
ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img,
svg {
	display: block;
	max-width: 100%;
}

button {
	outline-color: transparent;
	background-color: transparent;
	cursor: pointer;
	border: none;
}

/*@ #GENERAL-STYLES */
.icon--small {
	height: 1rem;
	width: 1rem;
	color: var(--color-text-secondary);
}

.icon--medium {
	height: 1.5rem;
	width: 1.5rem;
	color: var(--color-text-secondary);
}

.icon--large {
	height: 2rem;
	width: 2rem;
	color: var(--color-text-secondary);
}

.btn-with-border {
	border-radius: var(--border-radius-medium);
	border: var(--border-thin) solid var(--color-border);
	padding: 0.5rem;
}

.btn--primary {
	color: var(--color-secondary);
	background-color: var(--color-primary);

	transition: all 300ms;

	&:hover {
		background-color: #1173e2;
	}
}

.circle {
	display: inline-block;
	height: 0.875rem;
	width: 0.875rem;
	border-radius: var(--border-radius-full);
}

[data-language='HTML'] {
	background-color: orange;
}

[data-language='CSS'] {
	background-color: rebeccapurple;
}

[data-language='JavaScript'] {
	background-color: yellow;
}

/*@ #HEADER-STYLES */
.header {
	background-color: var(--color-accent);
}

/* PRIMARY-HEADER */
.header__primary {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.header__primary--left {
	padding: 1rem 0.5rem 0.25rem 1rem;

	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.header__primary-link--github,
.header__primary-link--username {
	color: var(--color-text-primary);
}

.header__primary--middle {
	flex: 1;

	padding: 1rem 0 0.25rem;

	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.5rem;
}

.header__primary-link--username {
	padding: 0.25rem 0.375rem;
	font-weight: 600;
	font-size: 0.875rem;
}

.header__search {
	color: var(--color-text-secondary);
	padding: 0.25rem 0.75rem;
	border: var(--border-thin) solid var(--color-border);
	border-radius: var(--border-radius-medium);

	display: flex;
	align-items: center;
	gap: 0.5rem;

	> input {
		color: inherit;
		background-color: inherit;
		outline: transparent;
		border: none;
	}
}

.header__primary-list {
	padding: 1rem 1rem 0.25rem 0.5rem;

	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.header__profile {
	height: 2rem;
	width: 2rem;
	border-radius: var(--border-radius-full);
}

/* SECONDARY-HEADER */
.header__secondary {
	height: 3rem;
	padding: 0 1rem;

	display: flex;
	align-items: center;
}

.header__secondary-list {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.header__secondary-link {
	position: relative;

	color: var(--color-text-primary);
	padding: 0.375rem 0.5rem;
	font-weight: 400;
	font-size: 0.875rem;

	display: flex;
	align-items: center;
	gap: 0.5rem;

	> svg {
		color: var(--color-text-secondary);
	}

	&::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: -8px;

		height: 0;
		width: 100%;
		background-color: #fd8c73;
		transform: translateY(50%);
	}
}

.header__secondary-link--active {
	font-weight: 600;

	&::after {
		height: 2px;
	}
}

/*@ #CONTAINER-STYLES */
.container {
	max-width: 76rem;
	margin: 0.5rem auto 0;
	padding: 2rem;

	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 1.5rem;
}

/*@ #SIDEBAR-PROFILE-STYLES */
.sidebar__profile-img {
	border-radius: var(--border-radius-full);
}

.sidebar__profile-heading {
	padding: 1rem 0;
}

.sidebar__profile-name {
	color: var(--color-text-primary);
	font-weight: 600;
	font-size: 1.5rem;
}

.sidebar__profile-username {
	color: var(--color-text-secondary);
	font-weight: 300;
	font-size: 1.25rem;
}

.sidebar__profile-edit {
	width: 100%;
	padding: 0.375rem 1rem;
	margin: 0 0 1rem;
	background-color: var(--color-accent);
	font-size: 0.875rem;
	border: var(--border-thin) solid var(--color-border);
	border-radius: var(--border-radius-medium);
}

.sidebar__achievements {
	margin: 1rem 0 0;
	padding: 1rem 0 0;
	border-top: var(--border-thin) solid var(--color-border);

	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.sidebar__achievements-heading {
	color: var(--color-text-primary);
	font-weight: 600;
}

.sidebar__achievements-list {
	display: flex;
	gap: 0.5rem;
	flex-wrap: wrap;
}

.sidebar__achievement {
	width: 3.2rem;
	height: 3.2rem;
	border-radius: var(--border-radius-full);
}

/*@ #MAIN-STYLES */
.main {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

/* REPOSITORY-CONTAINER-STYLES */
.main__repositories {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.main__repositories-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;

	> h3 {
		color: var(--color-text-primary);
		font-weight: 500;
	}

	> a {
		color: var(--color-primary);
		font-size: 0.75rem;
	}
}

.main__repositories-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
}

.repositories-grid__item {
	height: 100%;
	padding: 1rem;
	border: var(--border-thin) solid var(--color-border);
	border-radius: var(--border-radius-medium);

	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.repository--header {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.repository--name {
	font-weight: 600;
	color: var(--color-primary);
	font-size: 0.875rem;
	cursor: pointer;
}

.repository--type {
	color: var(--color-text-secondary);
	padding: 0.125rem 0.25rem;
	margin-right: auto;
	font-size: 0.75rem;
	border: var(--border-thin) solid var(--color-border);
	border-radius: var(--border-radius-full);
}

.repository--description {
	color: var(--color-text-secondary);
	font-size: 0.75rem;
	font-weight: 300;
	line-height: 1.5;
}

.repository--stats {
	margin-top: auto;
	font-size: 0.875rem;

	display: flex;
	align-items: center;
	gap: 1rem;
	flex-wrap: wrap;
}

.repository--stars {
	color: var(--color-text-secondary);

	display: flex;
	align-items: center;
	gap: 0.125rem;
}

.repository--languages {
	color: var(--color-text-secondary);

	display: flex;
	align-items: center;
	gap: 0.825rem;
}

.repository--language {
	color: var(--color-text-secondary);

	display: flex;
	align-items: center;
	gap: 0.25rem;
}

/* ACTIVITY-CONTAINER-STYLES */
.main__activity {
	display: grid;
	grid-template-columns: 5fr 1fr;
	gap: 2rem;
}

.activity__container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

/* HEATMAP-STYLES */
.activity__heatmap-wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.heatmap__header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	> p {
		color: var(--color-text-primary);
		font-weight: 400;
	}

	> a {
		color: var(--color-text-secondary);
		font-size: 0.75rem;
		font-weight: 300;

		display: flex;
		align-items: center;
		gap: 0.5rem;
	}
}

.heatmap__container {
	padding: 1rem;
	color: var(--color-text-secondary);
	font-size: 0.75rem;
	border: var(--border-thin) solid var(--color-border);
	border-radius: var(--border-radius-small);

	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

.heatmap__first-row.heatmap__months {
	display: flex;
	justify-content: space-evenly;
}

.heatmap__second-row {
	display: flex;
	gap: 0.375rem;
}

.heatmap__weekdays {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: start;
}

.heatmap {
	display: grid;
	grid-template-columns: repeat(52, 10px);
	grid-template-rows: repeat(7, 10px);
	gap: 3px;
}

.heatmap__box {
	background-color: var(--color-heatmap-cell--normal);
	border: var(--border-thin) solid #1f23280d;
	border-radius: 2px;
}

.heatmap__box:nth-child(5n) {
	background-color: var(--color-heatmap-green-100);
}
.heatmap__box:nth-child(7n) {
	background-color: var(--color-heatmap-green-200);
}
.heatmap__box:nth-child(19n) {
	background-color: var(--color-heatmap-green-300);
}
.heatmap__box:nth-child(71n) {
	background-color: var(--color-heatmap-green-400);
}

.heatmap__third-row {
	margin: 0.5rem 1.6rem 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 0.75rem;
	color: var(--color-text-secondary);
	font-weight: 300;

	> div {
		display: flex;
		align-items: center;
		gap: 0.25rem;

		> span.heatmap__box {
			height: 10px;
			width: 10px;
		}
	}
}

[data-box='1'] {
	background-color: var(--color-heatmap-cell--normal);
}
[data-box='2'] {
	background-color: var(--color-heatmap-green-100);
}
[data-box='3'] {
	background-color: var(--color-heatmap-green-200);
}
[data-box='4'] {
	background-color: var(--color-heatmap-green-300);
}
[data-box='5'] {
	background-color: var(--color-heatmap-green-400);
}

.activity__years {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.activity__year {
	width: 100%;
	padding: 0.5rem 1rem;
	border-radius: var(--border-radius-medium);
	font-size: 0.75rem;
	text-align: left;
}

/* TIMELINE-STYLES */
.activity__timeline-wrapper {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.timeline__container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.timeline__month {
	position: relative;
	padding: 0 0.5rem;

	overflow: hidden;

	&::after {
		content: '';
		position: absolute;
		top: 50%;
		transform: translateY(-50%);

		height: 2px;
		width: 100%;
		background-color: var(--color-border);
		/* TOP  RIGHT  BOTTOM  LEFT  */
		margin: 0 0 0 1rem;
	}
}

.month {
	color: var(--color-text-primary);
	font-size: 0.75rem;
	font-weight: 600;
}

.year {
	font-size: 0.75rem;
	font-weight: 600;
}

.timeline__month-details {
	margin: 0 1rem;
	padding: 1.5rem 2rem;
	border-left: var(--border-thick) solid var(--color-border);

	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	> a:first-child {
		color: var(--color-text-primary);
	}

	> a:nth-child(2) {
		color: var(--color-primary);
		text-decoration: underline;
	}
}

.activity__years {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.activity__year {
	width: 100%;
	padding: 0.5rem 1rem;
	border-radius: var(--border-radius-medium);
	font-size: 0.75rem;
	text-align: left;
}
