:root {
	--color-primary: #0969da;
	--color-secondary: #ffffff;
	--color-accent: #f6f8fa;

	--color-text-primary: #1f2328;
	--color-text-secondary: #59636e;

	--color-heatmap-cell--normal: #eff2f5;
	--color-heatmap-green-100: #aceebb;
	--color-heatmap-green-200: #4ac26b;
	--color-heatmap-green-300: #2da44e;
	--color-heatmap-green-400: #116329;

	--color-border-button: #d1d9e0;

	--border-thin: 0.0625rem;
	--border-thick: 0.125rem;
	--border-thicker: 0.25rem;

	--border-radius-small: 0.1875rem;
	--border-radius-medium: 0.375rem;
	--border-radius-large: 0.75rem;
	--border-radius-full: 9999px;
}

/*@ #CSS-RESETS */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font: inherit;
}

html {
	font-size: 100%;
	font-family: 'Helvetica';
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

p,
li {
	text-wrap: pretty;
	max-width: 65ch;
}

ol,
ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img,
svg {
	display: block;
	max-width: 100%;
}

button {
	outline-color: transparent;
	background-color: transparent;
	cursor: pointer;
	border: none;
}

/*@ #GENERAL-STYLES */
.icon--small {
	height: 1rem;
	width: 1rem;
}

.icon--medium {
	height: 1.5rem;
	width: 1.5rem;
}

.icon--large {
	height: 2rem;
	width: 2rem;
}

.btn-with-border {
	border-radius: var(--border-radius-medium);
	border: var(--border-thin) solid var(--color-border-button);
	padding: 0.5rem;
}

/*@ #HEADER-STYLES */
.header {
	background-color: var(--color-accent);
}

/* PRIMARY-HEADER */
.header__primary {
	display: flex;
	align-items: center;
}

.header__primary--left {
	padding: 1rem 0.5rem 0.25rem 1rem;

	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.header__primary-link {
	color: var(--color-text-secondary);
}

.header__primary-link--github,
.header__primary-link--username {
	color: var(--color-text-primary);
}

.header__primary--middle {
	flex: 1;

	padding: 1rem 0 0.25rem;

	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.5rem;
}

.header__primary-link--username {
	font-weight: 600;
	padding: 0.25rem 0.375rem;
	font-size: 0.875rem;
}

.header__search {
	padding: 0.25rem 0.75rem;
	border: var(--border-thin) solid var(--color-border-button);
	border-radius: var(--border-radius-medium);
	color: var(--color-text-secondary);

	display: flex;
	align-items: center;
	gap: 0.5rem;

	> input {
		border: none;
		outline: transparent;
		background-color: inherit;
		color: inherit;
	}
}

.header__primary-list {
	padding: 1rem 1rem 0.25rem 0.5rem;

	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.header__profile {
	height: 2rem;
	width: 2rem;
	border-radius: var(--border-radius-full);
}

/* SECONDARY-HEADER */
.header__secondary {
	padding: 0 1rem;
	display: flex;
	align-items: center;
	height: 3rem;
}

.header__secondary-list {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.header__secondary-link {
	padding: 0.375rem 0.5rem;
	position: relative;
	color: var(--color-text-primary);
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-weight: 400;
	font-size: 0.875rem;

	> svg {
		color: var(--color-text-secondary);
	}

	&::after {
		content: '';
		position: absolute;
		height: 0;
		width: 100%;
		background-color: #fd8c73;
		bottom: -8px;
		left: 0;
		transform: translateY(50%);
	}
}

.header__secondary-link--active {
	font-weight: 600;

	&::after {
		height: 2px;
	}
}

/*@ #CONTAINER-STYLES */
.container {
	max-width: 76rem;
	margin: 0.5rem auto 0;
	padding: 2rem;
	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 1.5rem;
}

.sidebar__profile-img {
	border-radius: var(--border-radius-full);
}

.sidebar__profile-heading {
	padding: 1rem 0;
}

.sidebar__profile-name {
	font-weight: 600;
	font-size: 1.5rem;
	color: var(--color-text-primary);
}

.sidebar__profile-username {
	font-weight: 300;
	font-size: 1.25rem;
	color: var(--color-text-secondary);
}

.sidebar__profile-edit {
	width: 100%;
	background-color: var(--color-accent);
	padding: 0.375rem 1rem;
	border: var(--border-thin) solid var(--color-border-button);
	border-radius: var(--border-radius-medium);
	font-size: 0.875rem;
}
